<table style="font-size: 12px" class="table table-bordered">
  <thead class="tip-parent">
    <tr>
      <th class="initial-stats" data-tips="背番号" data-length="10.3%">NO</th>
      <th class="initial-stats" data-tips="試合数" data-length="12.5%">G</th>
      <th class="initial-stats" data-tips="総プレイ時間" data-length="13.4%">MIN</th>
      <th class="initial-stats" data-tips="平均プレイ時間" data-length="16.5%">MINPG</th>
      <th class="initial-stats" data-tips="得点数" data-length="22.1%">PTS</th>
      <th class="initial-stats" data-tips="平均得点数" data-length="24.2%">PPG</th>
      <th class="initial-stats" data-tips="フィールドゴール成功数" data-length="24.5%">FGM</th>
      <th class="initial-stats" data-tips="フィールドゴール試投数" data-length="27.7%">FGA</th>
      <th class="initial-stats" data-tips="フィールドゴール成功率" data-length="31.2%">FG%</th>
      <th class="initial-stats" data-tips="3Pシュート成功数" data-length="36%">3FGM</th>
      <th class="initial-stats" data-tips="3Pシュート試投数" data-length="39.8%">3FGA</th>
      <th class="initial-stats" data-tips="3Pシュート成功率" data-length="43.5%">3FG%</th>
      <th class="initial-stats" data-tips="フリースロー成功数" data-length="46.7%">FTM</th>
      <th class="initial-stats" data-tips="フリースロー試投数" data-length="49.8%">FTA</th>
      <th class="initial-stats" data-tips="フリースロー成功率" data-length="53.1%">FT%</th>
      <th class="initial-stats" data-tips="オフェンスリバウンド数" data-length="55.6%">OR</th>
      <th class="initial-stats" data-tips="ディフェンスリバウンド数" data-length="57.2%">DR</th>
      <th class="initial-stats" data-tips="トータルリバウンド数" data-length="61%">TR</th>
      <th class="initial-stats" data-tips="平均トータルリバウンド数" data-length="62.8%">RPG</th>
      <th class="initial-stats" data-tips="アシスト数" data-length="69%">AS</th>
      <th class="initial-stats" data-tips="平均アシスト数" data-length="70.8%">APG</th>
      <th class="initial-stats" data-tips="ターンオーバー数" data-length="72.9%">TO</th>
      <th class="initial-stats" data-tips="スティール数" data-length="76.2%">ST</th>
      <th class="initial-stats" data-tips="平均スティール数" data-length="78.6%">STPG</th>
      <th class="initial-stats" data-tips="ブロックショット数" data-length="81.2%">BS</th>
      <th class="initial-stats" data-tips="平均ブロックショット数" data-length="82.8%">BSPG</th>
      <th class="initial-stats" data-tips="ファウル数" data-length="89%">F</th>
    </tr>
  </thead>
  <% @team.players.each do |player| %>
    <tbody>
      <tr>
        <td><%= link_to player.number, player, class: "hover-white" if player.number.present? %></td>
        <td><%= player.game_count %></td>
        <td><%= player.play_time %></td>
        <td><%= player.minpg.round(1) %></td>
        <td><%= player.pts %></td>
        <td><%= player.ppg.round(1) %></td>
        <td><%= player.fgm %></td>
        <td><%= player.fga %></td>
        <td><%= player.fgpg.round(1) %>%</td>
        <td><%= player.three_m %></td>
        <td><%= player.three_a %></td>
        <td><%= player.threepg.round(1) %>%</td>
        <td><%= player.ftm %></td>
        <td><%= player.fta %></td>
        <td><%= player.ftpg.round(1) %>%</td>
        <td><%= player.ofr %></td>
        <td><%= player.dfr %></td>
        <td><%= player.tor %></td>
        <td><%= player.rpg.round(2) %></td>
        <td><%= player.assist %></td>
        <td><%= player.apg.round(2) %></td>
        <td><%= player.tover %></td>
        <td><%= player.steal %></td>
        <td><%= player.stpg.round(2) %></td>
        <td><%= player.blockshot %></td>
        <td><%= player.bspg.round(2) %></td>
        <td><%= player.foul %></td>
      </tr>
    </tbody>
  <% end %>
</table>
<ul class="txt-stats-anta">
  <li><span class="txt-main">NO</span>：背番号</li>
  <li><span class="txt-main">G</span>：試合数</li>
  <li><span class="txt-main">MIN</span>：総プレイ時間</li>
  <li><span class="txt-main">MINPG</span>：平均プレイ時間</li>
  <li><span class="txt-main">PTS</span>：総得点数</li>
  <li><span class="txt-main">PPG</span>：平均得点数</li>
  <li><span class="txt-main">FGM</span>：フィールドゴール成功数</li>
  <li><span class="txt-main">FGA</span>：フィールドゴール試投数</li>
  <li><span class="txt-main">FG%</span>：フィールドゴール成功率</li>
  <li><span class="txt-main">3FGM</span>：3Pシュート成功数</li>
  <li><span class="txt-main">3FGA</span>：3Pシュート試投数</li>
  <li><span class="txt-main">3FG%</span>：3Pシュート成功率</li>
  <li><span class="txt-main">FTM</span>：フリースロー成功数</li>
  <li><span class="txt-main">FTA</span>：フリースロー試投数</li>
  <li><span class="txt-main">FT%</span>：フリースロー成功率</li>
  <li><span class="txt-main">OR</span>：オフェンスリバウンド数</li>
  <li><span class="txt-main">DR</span>：ディフェンスリバウンド数</li>
  <li><span class="txt-main">TR</span>：トータルリバウンド数</li>
  <li><span class="txt-main">RPG</span>：平均トータルリバウンド数</li>
  <li><span class="txt-main">AS</span>：アシスト数</li>
  <li><span class="txt-main">APG</span>：平均アシスト数</li>
  <li><span class="txt-main">TO</span>：ターンオーバー数</li>
  <li><span class="txt-main">ST</span>：スティール数</li>
  <li><span class="txt-main">STPG</span>：平均スティール数</li>
  <li><span class="txt-main">BS</span>：ブロック数</li>
  <li><span class="txt-main">BSPG</span>：平均ブロック数</li>
  <li><span class="txt-main">F</span>：ファウル数</li>
</ul>