<% provide(:title, 'All teams') %>
<div class="container">
  <h1>チーム一覧</h1>
  <%= will_paginate %>
  
  <!--  検索拡張機能  -->
  <p>チーム検索</p>
  <%= form_tag(teams_path, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', :name => nil %>
  <% end %>

  <ul class="teams">
    <%= render @teams %>
  </ul>
  <%= will_paginate %>
</div>