<% provide(:title, @title) %>
<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section class="team_info">
        <%= gravatar_for @team %>
        <h1><%= @team.name %></h1>
        <span><%= link_to "view my profile", @team %></span>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
        <% if @teams.any? %>
          <div class="team_avatars">
            <% @teams.each do |team| %>
              <%= link_to gravatar_for(team, size: 30), team %>
            <% end %>
          </div>
        <% end %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= @title %></h3>
      <% if @teams.any? %>
        <ul class="teams follow">
          <%= render @teams %>
        </ul>
        <%= will_paginate %>
      <% end %>
    </div>
  </div>
</div>