<div class="panel panel-default">
  <div id="comment_<%= comment.id %>" class="comment">
    <div class="comment-content">
      <div class="comment-player-info col-md-1">
        <%= link_to gravatar_for(comment.player, size: 40), comment.player,
                                        class: "img-circle img-responsive" %>
      </div>
      <div class="panel-body col-md-7">
        <p>
          <%= simple_format(comment.content) %>
        </p>
      </div>
      <span class="clearfix"></span>
      <div class ="comment-info panel-footer">
        Commented <%= time_ago_in_words(comment.created_at) %> ago
        by <%= link_to comment.player.name, comment.player, class: "text-black" %>
        <% if logged_in? && current_player.id == comment.player_id %>
            <div class="btn-group pull-right">
              <%= link_to "編集", edit_micropost_comment_path(micropost ,comment),
                                class: 'edit-comment-link btn btn-success btn-sm', 
                                remote: true %>
              <%= link_to "削除", [micropost, comment], method: :delete,
                                class: 'delete-comment-link btn btn-danger btn-sm',
                                data:{confirm:"Are your sure?"}, remote: true %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>