<% provide(:placeholder, "新しい投稿．．．") %>
<% provide(:value, "") %>
<% provide(:class, "") %>
<% provide(:submit, "投稿") %>
<% if logged_in? %>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <section class="player_info">
          <%= render 'shared/player_info' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <section class="team_info center">
          <h1>
            <%= link_to current_team.name, current_team %>
          </h1>
        </section>
        <h3>投稿</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Team App</h1>
        <h2 class="masthead-subheading mb-0">Will Help Your Team Management</h2>
        <%= link_to "新規登録", team_login_path, class: "btn btn-primary btn-xl rounded-pill mt-5" %>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
  
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-lg-push-6">
          <div class="p-5">
            <%= image_tag("blue0031.png", alt: "", class: "img-fluid rounded-circle") %>
          </div>
        </div>
        <div class="col-lg-6 col-lg-pull-6">
          <div class="p-5">
            <h2 class="display-4">For those about to Team App...</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <%= image_tag("blue0031.png", alt: "", class: "img-fluid rounded-circle") %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">You can search other players!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-lg-push-6">
          <div class="p-5">
            <%= image_tag("blue0031.png", alt: "", class: "img-fluid rounded-circle") %>
          </div>
        </div>
        <div class="col-lg-6 col-lg-pull-6">
          <div class="p-5">
            <h2 class="display-4">Let there be rock!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>