<div class="col-lg-4 col-sm-6 text-center mb-4">
  <%= link_to gravatar_for(player, size: 50), player, class:"rounded-circle img-fluid d-block mx-auto" %>
  <h3># <%= player.number %> <%= player.name %></h3>
  <p><%= player.grade %>年/<%= player.position %></p>
  <p><%= player.height %>cm/<%= player.weight %>kg/<%= player.old_school %></p>
</div>