<% provide(:title, @player.name) %>
<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section class="player_info">
        <h1>
          <%= gravatar_for @player, size: 50 %>
          <%= @player.name %>
        </h1>
      </section>
      <section class="team_info">
        <h4>
          <%= link_to "@#{@player.team.name}", team_path(@player.team), class: "text-black" %>
        </h4>
        <p># <%= @player.number %></p>
        <p>ポジション：<%= @player.position %></p>
        <p>学年：<%= @player.grade %>年</p>
        <p>身長：<%= @player.height %>cm</p>
        <p>体重：<%= @player.weight %>kg</p>
        <p>出身校：<%= @player.old_school %></p>
      </section>
    </aside>
    <div class="col-md-8">
      <% if @player.microposts.any? %>
        <h3>投稿 (<%= @player.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
  </div>
</div>