<% provide(:title, @player.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="player_info">
      <h1>
        <%= gravatar_for @player %>
        <%= @player.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @player.microposts.any? %>
      <h3>Microposts (<%= @player.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>