<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.player, size: 50), micropost.player %>
  <span class="player"><%= micropost.player.name %></span>
  <span class="content">
    <%= link_to micropost.content, micropost %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_player?(micropost.player) %>
      <%= link_to "削除", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
       | 
      <%= link_to "編集", edit_micropost_path(micropost) %>
    <% end %>
  </span>
</li>